* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: lightgrey;
}

.main-container {
  display: flex;
  padding: 2em;
}

.applications-container {
  flex: 0 0 65%;
  margin-left: 5%;
}
