.edit-profile {
  width: 100%;
  padding: 1em 2em;
  border-radius: 3px;
  margin: 2em 0;
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--primary-color);
  color: var(--quaternary-color);
  border: 1px solid var(--primary-color);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.edit-profile:hover {
  background-color: var(--quaternary-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.edit-profile:focus {
  outline: none;
}
