.application {
  background: #fff;
  padding: 1.5em 2em;
  margin: 1em 1em 1em 0;
  flex: 0 0 31%;
  border-radius: 0 1rem 1rem 0;
  position: relative;
  cursor: pointer;
  /*box-shadow: 4px 4px 10px #888888;*/
}
.application__company {
  font-size: 1.5rem;
  font-weight: 500;
}
.applied,
.in.process,
.offers {
  transition: 0.2s ease-out;
}
.application::before {
  content: "";
  position: absolute;
  right: 1.5rem;
  top: 0;
  /* border-radius: 0 1rem 1rem 0; */
  height: 100%;
  width: 0.25rem;
}
.applied::before,
.in.process::before,
.offers::before {
  transition: 0.3s ease-in;
}
.applied::before {
  background: #ecbbbc;
}
.in.process::before {
  background: #8daae7;
}
.offers::before {
  background: #b6e8e0;
}
.applied:hover:before,
.in.process:hover:before,
.offers:hover:before {
  width: 2rem;
  right: 0;
  border-radius: 0 1rem 1rem 0;
}
.applied:hover:before {
  background: #ecbbbc;
}
.in.process:hover:before {
  background: #8daae7;
}
.offers:hover:before {
  background: #b6e8e0;
}
