.applications__group {
  margin-bottom: 2em;
}
.applications__group-header {
  display: flex;
  align-items: center;
  position: relative;
}
.applications {
  display: flex;
  flex-wrap: wrap;
}
.category__title {
  font-size: 2rem;
  text-transform: capitalize;
}
.btn__add {
  background: var(--primary-color);
  color: #fff;
  border: 0;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin-left: 2em;
  cursor: pointer;
  transition: 0.3s ease-in;
  position: absolute;
  right: 2rem;
}
.btn__add:hover {
  background: var(--quaternary-color);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}
.btn__add:focus{
  outline: none;
}